@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --plcore-vorwerk-icon-font-family: 'Vorwerk Icons';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local('Vorwerk Icons'), local('VorwerkIcons-Regular'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-e15c2ef7d1ae0bdddcab2b3b66db66e3.woff2)
      format('woff2'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-4e968dd16df216df5f9bf180d255c895.woff)
      format('woff'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-6fcd599dc5a3720bca4072cd8b8874b0.ttf)
      format('truetype');
  unicode-range: U+e001-e04c, U+00ae;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: local('Vorwerk Icons'), local('VorwerkIcons-Regular'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-e15c2ef7d1ae0bdddcab2b3b66db66e3.woff2)
      format('woff2'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-4e968dd16df216df5f9bf180d255c895.woff)
      format('woff'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-6fcd599dc5a3720bca4072cd8b8874b0.ttf)
      format('truetype');
  unicode-range: U+e001-e04c, U+00ae;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local('Vorwerk Icons'), local('VorwerkIcons-Regular'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-e15c2ef7d1ae0bdddcab2b3b66db66e3.woff2)
      format('woff2'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-4e968dd16df216df5f9bf180d255c895.woff)
      format('woff'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-6fcd599dc5a3720bca4072cd8b8874b0.ttf)
      format('truetype');
  unicode-range: U+e001-e04c, U+00ae;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local('Vorwerk Icons'), local('VorwerkIcons-Regular'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-e15c2ef7d1ae0bdddcab2b3b66db66e3.woff2)
      format('woff2'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-4e968dd16df216df5f9bf180d255c895.woff)
      format('woff'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-6fcd599dc5a3720bca4072cd8b8874b0.ttf)
      format('truetype');
  unicode-range: U+e001-e04c, U+00ae;
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Vorwerk Icons'), local('VorwerkIcons-Regular'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-e15c2ef7d1ae0bdddcab2b3b66db66e3.woff2)
      format('woff2'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-4e968dd16df216df5f9bf180d255c895.woff)
      format('woff'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-6fcd599dc5a3720bca4072cd8b8874b0.ttf)
      format('truetype');
  unicode-range: U+e001-e04c, U+00ae;
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Vorwerk Icons'), local('VorwerkIcons-Regular'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-e15c2ef7d1ae0bdddcab2b3b66db66e3.woff2)
      format('woff2'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-4e968dd16df216df5f9bf180d255c895.woff)
      format('woff'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-6fcd599dc5a3720bca4072cd8b8874b0.ttf)
      format('truetype');
  unicode-range: U+e001-e04c, U+00ae;
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Vorwerk Icons'), local('VorwerkIcons-Regular'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-e15c2ef7d1ae0bdddcab2b3b66db66e3.woff2)
      format('woff2'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-4e968dd16df216df5f9bf180d255c895.woff)
      format('woff'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-6fcd599dc5a3720bca4072cd8b8874b0.ttf)
      format('truetype');
  unicode-range: U+e001-e04c, U+00ae;
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Vorwerk Icons'), local('VorwerkIcons-Regular'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-e15c2ef7d1ae0bdddcab2b3b66db66e3.woff2)
      format('woff2'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-4e968dd16df216df5f9bf180d255c895.woff)
      format('woff'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-6fcd599dc5a3720bca4072cd8b8874b0.ttf)
      format('truetype');
  unicode-range: U+e001-e04c, U+00ae;
}
@font-face {
  font-family: Vorwerk Icons;
  font-style: normal;
  font-weight: 400;
  src: local('Vorwerk Icons'), local('VorwerkIcons-Regular'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-e15c2ef7d1ae0bdddcab2b3b66db66e3.woff2)
      format('woff2'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-4e968dd16df216df5f9bf180d255c895.woff)
      format('woff'),
    url(https://patternlib-all.prod.external.eu-tm-prod.vorwerk-digital.com/VorwerkIcons-Regular-400-6fcd599dc5a3720bca4072cd8b8874b0.ttf)
      format('truetype');
}

body {
  color: #333;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  overflow-x: hidden;
}

.icon--automated,
.icon--basic-caramel,
.icon--beef,
.icon--boiled-egg,
.icon--boiled-rice,
.icon--bowl,
.icon--bowl-simmering-basket,
.icon--bowl-timer,
.icon--bowl-varoma,
.icon--bread,
.icon--brush,
.icon--cake,
.icon--chef-hat,
.icon--cleaning,
.icon--cold-blending,
.icon--collections,
.icon--cooking-station,
.icon--cream,
.icon--custom-list,
.icon--dough,
.icon--ferment-mode,
.icon--filter,
.icon--fish,
.icon--fridge-timer,
.icon--grate,
.icon--hot-stirring,
.icon--kettle,
.icon--lamb,
.icon--magic,
.icon--manual-dark-green,
.icon--mixing-bowl-timer,
.icon--mode-transport,
.icon--my-recipes,
.icon--oven-timer,
.icon--peeler,
.icon--pork,
.icon--poultry,
.icon--preset-guide,
.icon--recently-cooked,
.icon--recipe-timer,
.icon--registered,
.icon--reset,
.icon--reverse,
.icon--reverse-off,
.icon--scale,
.icon--servings,
.icon--slice,
.icon--slow-cooking,
.icon--sous-vide,
.icon--spatula,
.icon--speed,
.icon--spiralizing,
.icon--steaming,
.icon--stirring,
.icon--temperature-high,
.icon--thermomix,
.icon--thermomix-sensor,
.icon--thickening-mode,
.icon--time,
.icon--time-preparation,
.icon--time-total,
.icon--timer,
.icon--turbo,
.icon--warm-up {
  font-family: var(--plcore-vorwerk-icon-font-family);
}
.icon--registered:before {
  content: '®';
}
.icon--dough:before {
  content: '\e001';
}
.icon--stirring:before {
  content: '\e002';
}
.icon--reverse:before {
  content: '\e003';
}
.icon--reverse-off:before {
  content: '\e004';
}
.icon--speed:before {
  content: '\e005';
}
.icon--time:before {
  content: '\e006';
}
.icon--scale:before {
  content: '\e007';
}
.icon--steaming:before {
  content: '\e008';
}
.icon--bowl:before {
  content: '\e009';
}
.icon--spatula:before {
  content: '\e00a';
}
.icon--turbo:before {
  content: '\e00b';
}
.icon--basic-caramel:before {
  content: '\e00c';
}
.icon--boiled-rice:before {
  content: '\e00d';
}
.icon--cleaning:before {
  content: '\e011';
}
.icon--cream:before {
  content: '\e012';
}
.icon--hot-stirring:before {
  content: '\e014';
}
.icon--kettle:before {
  content: '\e016';
}
.icon--slow-cooking:before {
  content: '\e018';
}
.icon--warm-up:before {
  content: '\e019';
}
.icon--cold-blending:before {
  content: '\e01e';
}
.icon--chef-hat:before {
  content: '\e020';
}
.icon--time-preparation:before {
  content: '\e021';
}
.icon--time-total:before {
  content: '\e022';
}
.icon--servings:before {
  content: '\e023';
}
.icon--temperature-high:before {
  content: '\e026';
}
.icon--mode-transport:before {
  content: '\e027';
}
.icon--reset:before {
  content: '\e028';
}
.icon--custom-list:before {
  content: '\e029';
}
.icon--my-recipes:before {
  content: '\e02a';
}
.icon--recently-cooked:before {
  content: '\e02b';
}
.icon--filter:before {
  content: '\e02c';
}
.icon--sous-vide:before {
  content: '\e02d';
}
.icon--ferment-mode:before {
  content: '\e02e';
}
.icon--collections:before {
  content: '\e02f';
}
.icon--automated:before {
  content: '\e030';
}
.icon--thickening-mode:before {
  content: '\e031';
}
.icon--timer:before {
  content: '\e032';
}
.icon--boiled-egg:before {
  content: '\e033';
}
.icon--thermomix:before {
  content: '\e034';
}
.icon--cooking-station:before {
  content: '\e035';
}
.icon--grate:before {
  content: '\e036';
}
.icon--slice:before {
  content: '\e037';
}
.icon--peeler:before {
  content: '\e038';
}
.icon--brush:before {
  content: '\e039';
}
.icon--magic:before {
  content: '\e03a';
}
.icon--preset-guide:before {
  content: '\e03b';
}
.icon--bowl-simmering-basket:before {
  content: '\e03c';
}
.icon--bowl-varoma:before {
  content: '\e03d';
}
.icon--beef:before {
  content: '\e03e';
}
.icon--bread:before {
  content: '\e03f';
}
.icon--cake:before {
  content: '\e040';
}
.icon--manual-dark-green:before {
  content: '\e041';
}
.icon--thermomix-sensor:before {
  content: '\e042';
}
.icon--poultry:before {
  content: '\e043';
}
.icon--pork:before {
  content: '\e044';
}
.icon--lamb:before {
  content: '\e045';
}
.icon--fish:before {
  content: '\e046';
}
.icon--oven-timer:before {
  content: '\e047';
}
.icon--recipe-timer:before {
  content: '\e048';
}
.icon--fridge-timer:before {
  content: '\e049';
}
.icon--mixing-bowl-timer:before {
  content: '\e04a';
}
.icon--bowl-timer:before {
  content: '\e04b';
}
.icon--spiralizing:before {
  content: '\e04c';
}